body {
    background-image: repeating-linear-gradient(45deg, #7b7b7b 0, #7b7b7b 4px, transparent 0, transparent 50%);
background-size: 46px 46px;
background-color: #f7aeae;
}

#welcome {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 25px;
  text-shadow: 2px 2px black;
}

#startGame {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 55px;
  background-color: white;
  color: black;
  width: 100px;
  height: 35px;
}

#scoreLabel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 25px;
  text-shadow: 2px 2px black;
}

#pageTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 35px;
  left: 10px;
  height: 25px;
  text-shadow: 2px 2px black;
}

#gameArea {
  position: absolute;
  top: 75px;
  left: 10px;
  border: 1px white solid;
  background-color: #7b7b7b;
}

#dot {
  background-color: white;
  width: 64px;
  height: 64px;
  border-radius: 100%;
 border: 5px dotted #f7aeae;
}
